[submodule "submodules/nuts"]
	path = submodules/nuts
	url = git@github.com:jakmeier/nuts.git
[submodule "submodules/statig"]
	path = submodules/statig
	url = git@github.com:mdeloof/statig.git
[submodule "submodules/riscv-embassy-mess-work"]
	path = submodules/riscv-embassy-mess-work
	url = git@github.com:osobiehl/riscv-embassy-mess-work.git
